<html>
<%- include('../partials/header') %>
<link rel="stylesheet" href="/stylesheets/profile.css" />

<body>
    <%- include('../partials/navbar') %>
    <div class="container">
        <div class="row">
            <div class="col-md-12 offset-md-2 col-12 profile-main mt-4">
                <div class="row">
                    <div class="col-md-12 col-12 user-detail-main border mb-3 pb-2">
                        <div class="row">
                            <div class="col-md-12 col-12 profile-back">
                                <img src="http://nicesnippets.com/demo/profile-1.jpg" class="img-rounded">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 col-12 user-detail text-center">
                                <h3 class="m-0"><strong>Michael Finn</strong></h3>
                                <p class="m-0">Web Developer</p>
                                <p class="m-0">India</p>
                               <p>
                                   
                               </p>
                            

                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>

        <div class="row" style="margin-top: 20px;">
            <div class="col-md-6 col-12 accordion-group-one">

                <div class="card-header rounded-0 pt-2 pb-2"
                    style=" border:1px solid lightgray; padding: 10px;border-radius: 5px;">
                    <h4>ABOUT ME</h4>

                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat.


                </div>

            </div>
            <div class="col-md-6">
                <div class="card-header rounded-0 pt-2 pb-2"
                    style=" border:1px solid lightgray; padding: 10px;border-radius: 5px;">
                    <h4><i class="fa fa-cogs" style="color: blue;"></i> Skills</h4>
                    <div>
                        Java
                        <legend></legend>
                    </div>
                    <div>
                        HTML
                        <legend></legend>
                    </div>
                    <div>
                    </div>


                </div>


            </div>





</body>

</html>


